<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space Flight Manager</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Space Flight Manager </a>
    </div>
</div>

<br>
<a href="../../touristsPage.html">Tourists List</a>
<br>
<br>
<a href="flightsPage.html">Flights List</a>
</body>
</html>