<!DOCTYPE html>
<html>
<head>
    <title>Space Flight Manager - tourists manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Space Flight Manager - tourists</a>
    </div>
</div>

<!-- Tourist table-->
<div id="main" class="container">
    <table class="table table-striped">
        <tr>
            <td style="width: 1px;"><b>Id</b></td>
            <td><b>Name</b></td>
            <td><b>Surname</b></td>
            <td><b>Options</b></td>
        </tr>
        <!-- ko foreach: tourists -->
        <tr>

            <td><p><b data-bind="text: id"></b></p></td>
            <td><p><b data-bind="text: name"></b></p></td>
            <td><p><b data-bind="text: surname"></b></p></td>
            <td>
                <button data-bind="click: $parent.beginEdit" class="btn">Edit</button>
                <button data-bind="click: $parent.remove" class="btn">Delete</button>
            </td>
        </tr>
        <!-- /ko -->
    </table>
    <button data-bind="click: beginAdd" class="btn">Add Task</button>
</div>

<!-- Add tourist form-->
<div id="add" class="modal hide fade" tabindex="=1" role="dialog" aria-labelledby="addDialogLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="addDialogLabel">Add Task</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputTask">Name</label>
                <div class="controls">
                    <input data-bind="value: name" type="text" id="inputTask" placeholder="Task title"
                           style="width: 150px;">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputDescription">Surname</label>
                <div class="controls">
                    <input data-bind="value: surname" type="text" id="inputDescription" placeholder="Description"
                           style="width: 300px;">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDescription">Sex</label>
                <div class="controls">
                    <input data-bind="value: sex" type="text" id="inputSex" placeholder="Description"
                           style="width: 300px;">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDescription">Country</label>
                <div class="controls">
                    <input data-bind="value: country" type="text" id="inputCountry" placeholder="Description"
                           style="width: 300px;">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDescription">Notes</label>
                <div class="controls">
                    <input data-bind="value: notes" type="text" id="inputNotes" placeholder="Description"
                           style="width: 300px;">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDescription">DateOfBirth</label>
                <div class="controls">
                    <input data-bind="value: dateOfBirth" type="text" id="inputDateOfBirth"
                           placeholder="Description"
                           style="width: 300px;">
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button data-bind="click: addTask" class="btn btn-primary">Add Task</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>

<script type="text/javascript">
    function TasksViewModel() {
        var self = this;
        self.touristsURI = 'http://localhost:8080/tourists/';

        self.tourists = ko.observableArray();

        self.ajax = function (uri, method, data) {
            var request = {
                url: uri,
                type: method,
                //contentType: "application/json",
                //accepts: "application/json",
                cache: false,
                dataType: 'json',
                data: JSON.stringify(data),
                error: function (jqXHR) {
                    console.log("ajax error " + jqXHR.status);
                }
            };
            return $.ajax(request);
        }

        self.beginAdd = function () {
            $('#add').modal('show');
        }
        self.beginEdit = function (task) {
            alert("Edit: " + task.name());
        }
        self.remove = function (task) {
            alert("Remove: " + task.name());
        }
        self.markInProgress = function (task) {
            task.done(false);
        }
        self.markDone = function (task) {
            task.done(true);
        }

        self.ajax(self.touristsURI, 'GET').done(function (data) {
            for (var i = 0; i < data.length; i++) {
                self.tourists.push({
                    id: ko.observable(data[i].id),
                    name: ko.observable(data[i].name),
                    surname: ko.observable(data[i].surname),
                    sex: ko.observable(data[i].sex),
                    country: ko.observable(data[i].country),
                    notes: ko.observable(data[i].notes),
                    dateOfBirth: ko.observable(data[i].dateOfBirth)

                });
            }
        });

        self.add = function (task) {
            self.ajax(self.touristsURI, 'POST', task).done(function (data) {
                self.tourists.push({
                    name: ko.observable(data.task.name),
                    surname: ko.observable(data.task.surname),
                    sex: ko.observable(data.task.sex),
                    country: ko.observable(data.task.country),
                    notes: ko.observable(data.task.notes),
                    dateOfBirth: ko.observable(data.task.dateOfBirth)
                });
            });
        }
    }

    function AddTaskViewModel() {
        var self = this;
        self.name = ko.observable();
        self.surname = ko.observable();
        self.sex = ko.observable();
        self.country = ko.observable();
        self.notes = ko.observable();
        self.dateOfBirth = ko.observable();

        self.addTask = function () {
            $('#add').modal('hide');
            tasksViewModel.add({
                name: self.name(),
                surname: self.surname(),
                sex: self.sex(),
                country: self.country(),
                notes: self.notes(),
                dateOfBirth: self.dateOfBirth()
            });
            self.name("");
            self.surname("");
            self.sex("");
            self.country("");
            self.notes("");
            self.dateOfBirth("");
        }

    }

    var tasksViewModel = new TasksViewModel();
    var addTaskViewModel = new AddTaskViewModel();
    ko.applyBindings(tasksViewModel, $('#main')[0]);
    ko.applyBindings(addTaskViewModel, $('#add')[0]);
</script>

</body>
</html>